@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #19BAFF, #00648F);
}
main{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #004a69af ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #DB7500;
    text-align: center;
    text-shadow: 1px 1px 2px #ca6c00b2;
}
h2{
    color: #8F4C00;
}